


/* .tab-content {
  color: darkblue;
  font-size: large;
}
.tab-list {
  // border-bottom: solid;
  text-align: right;
}

.tab-list-item {
  display: inline-block;
  margin: 0 1px -1px 1px;
  padding: 0.5rem 0.75rem;
  border-bottom: solid;
}

.tab-list-active {
  color: #E77941;
  background-color: transparent;
  border-bottom: solid #E77941;
}

.bgr {
  background-color: aqua;
} */